.cpoDiv,
.uvDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & .seriesCPOUVWrapper {
    width: 90%;
    display: grid;
    grid-template-areas: "serie indeval listar ofertar borrar"
                          "inscrita internacional select cupon .";

    & .serie {
      grid-area: serie;
    }

    & .titulosIndeval {
      grid-area: indeval;
    }

    & .cposListar,
    & .uvsListar {
      grid-area: listar;
    }

    & .cposOfertar,
    & .uvsOfertar {
      grid-area: ofertar;
    }

    & .inscritaBMV {
      grid-area: inscrita;
    }

    & .internacional {
      grid-area: internacional;
    }

    & .listadoMercado {
      grid-area: select;
    }

    & .cupon {
      grid-area: cupon;
    }

    & .eraseButton {
      grid-area: borrar;
    }

    & .serie,
    & .titulosIndeval,
    & .cposListar,
    & .uvsListar,
    & .cposOfertar,
    & .uvsOfertar,
    & .cupon {
      display: flex;
      flex-direction: column;
    }

    & div input[type="text"],
    & div input[type="number"] {
      border: none;
      border-bottom: 1px solid grey;
    }
  }
}
